<mat-card class="iconsMenu">
  <mat-card-actions id="sp">
    <button matButton>
      <mat-icon>factory</mat-icon>
      Architecture</button>
  </mat-card-actions>
  <mat-card-actions>
    <button matButton>
      <mat-icon>directions_car</mat-icon>
      Vehicles
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <button matButton>
      <mat-icon>people</mat-icon>
      Characters
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <button matButton>
      <mat-icon>flight</mat-icon>
      Aircraft
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <button matButton>
      <mat-icon>weekend</mat-icon>
      Furniture
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <button matButton>
      <mat-icon>smartphone</mat-icon>
      Electronics
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <button matButton>
      <mat-icon>pets</mat-icon>
      Animals
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <button matButton>
      <mat-icon>eco</mat-icon>
      Plants
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <button matButton>
      <mat-icon>accessibility</mat-icon>
      Anatomy
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <button (click)="goWall()" matButton>
      <mat-icon>view_quilt</mat-icon>
      Wall Panel
    </button>
  </mat-card-actions>

</mat-card>


<app-breadcrumb />
<div class="product-list-container">
  <div class="product-scroll">
    @for (item of data ; track $index) {
    <app-product-list [product]="item" />
    }
  </div>
</div>