<mat-card class="title-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            CNC MASTER
        </mat-card-title>
    </mat-card-header>
</mat-card>


<mat-card class="menu" [class.mobile]="(isHandset$ | async)" appearance="outlined">
    <mat-card-content>
        <div class="submenu">
            <div class="container">
                <div class="logo">
                    <img src="/favicon.ico" alt="logo">
                </div>
            </div>

            <div class="container hide-on-mobile">
                <div class="search-box">
                    <input type="text" placeholder="search..." />
                    <button>
                        <svg viewBox="0 0 24 24" fill="none">
                            <path d="M21 21L15.8 15.8M17 10A7 7 0 1 0 3 10a7 7 0 0 0 14 0Z" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
            </div>

            <!-- آیکون موبایل منو -->
            <div class="container show-on-mobile">
                <button class="menu-toggle" (click)="toggleMobileMenu()">
                    ☰
                </button>
            </div>

            <div class="container" id="sp">
                <div routerLink="home" class="buttons hide-on-mobile">
                    <button mat-button>Home</button>
                </div>
                <div routerLink="products" class="buttons hide-on-mobile">
                    <button mat-button>Products</button>
                </div>
                <div class="buttons hide-on-mobile">
                    <button mat-button>News</button>
                </div>
                <div class="buttons hide-on-mobile">
                    <button mat-button>Support</button>
                </div>
                <div class="buttons hide-on-mobile">
                    <button mat-button>About us</button>
                </div>
            </div>
        </div>

        <div routerLink="/login" class="container">
            <div class="buttons">
                <div class="auth-buttons">
                    <button class="btn login">Login</button>
                    <button class="btn signup">sign up</button>
                </div>
            </div>
        </div>
        @if (showMobileMenu) {
        <div class="mobile-menu">
            <button mat-button>Products</button>
            <button mat-button>News</button>
            <button mat-button>Support</button>
            <button mat-button>About us</button>
        </div>
        }
    </mat-card-content>
</mat-card>

<router-outlet></router-outlet>