<section class="products-section">
  <header class="products-header">
    <h2>مدیریت کالاها</h2>
    <button class="btn-add">
      <i class="material-icons">add_circle</i>
      افزودن محصول
    </button>
  </header>

  <div class="products-grid">
    <!-- کارت محصول -->
    @for (item of dataSource; track $index) {
    <div class="product-card animate-in">
      <div class="card-top">
        <h3>{{item.title}}</h3>
        <p class="price">{{item.price}}</p>
      </div>
      <p class="status" [class.active]='item.status' [class.inactive]='!item.status'>💠</p>
      <div class="card-actions">
        <button class="btn-icon edit"><i class="material-icons">edit</i></button>
        <button class="btn-icon delete"><i class="material-icons">delete</i></button>
        <button class="btn-icon view"><i class="material-icons">visibility</i></button>
      </div>
    </div>
    }
  </div>
</section>