<div class="main">
    <mat-card [class.mobile]="(isHandset$ | async)" appearance="outlined">
        <form>
            <h2>MEMBER Login</h2>
            <mat-card-content>
                <div class="input">
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]="Login.username" type="text" name="username" matInput placeholder="Name">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </div>
                <div class="input">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="Login.password" id="import" type="password" name="pass" matInput
                            placeholder="Pass">
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-checkbox [(ngModel)]="Login.keepMe" name="check" class="example-margin">remember
                        me!</mat-checkbox>
                </div>
                <div class="button">
                    <button [disabled]="isValid()" mat-flat-button>Submit</button>
                </div>
                <div class="forget">
                    Forgot Password?
                    <a href="#">Click Here</a>
                </div>
                <div class="button">
                    <button mat-raised-button>Register</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>



</div>