.main {
    background-image: url("/img/wp4511436.jpg");
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-checkbox {
    margin: 0 2em;
}

h2 {
    margin: 1em 0 0 0;

    text-align: center;
}

mat-card {
    background-color: rgba(255, 255, 255, 0.823);
}

mat-card {
    width: 30%;

    .button {
        margin-bottom: 0.5em;

        button {
            width: 85%;
        }

        text-align: center;
    }
}

.mobile {
    width: 90%;
}

mat-form-field {
    width: 80%;
}

.input,
.forget {
    text-align: center;
}

.forget {
    text-align: center;
    margin-bottom: 1em;
}

.back {
    margin: 0 0 10% 10%;
    cursor: pointer;
}

.back:hover {
    background-color: #a0f0f0;
    border-radius: 8px;


}