<mat-card class="breadcrumb-card" appearance="outlined" [class.mobile]="isHandset$ | async">
    <div class="breadcrumb-container">
        @for (step of path; track $index; let last = $last) {
        <div class="breadcrumb-step">
            <mat-icon class="breadcrumb-icon">{{ step.icon }}</mat-icon>
            <span class="breadcrumb-label">{{ step.label }}</span>
            @if (!last) {
            <mat-icon class="breadcrumb-arrow">chevron_right</mat-icon>
            }
        </div>
        }
        
    </div>
</mat-card>