.breadcrumb-card {
    padding: 0.5rem;
    background-color: #f9f9f9;

    .breadcrumb-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: auto;
        gap: 0.5rem;

        .breadcrumb-step {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            // white-space: nowrap; ??????????????

            .breadcrumb-icon {
                font-size: 18px;
                color: #0077cc;
                margin-right: 4px;
            }

            .breadcrumb-label {
                font-weight: 500;
                color: #333;
            }

            .breadcrumb-arrow {
                margin: 0 0.5rem;
                color: #aaa;
            }
        }
    }

    &.mobile {
        .breadcrumb-container {
            overflow-x: auto;
            scrollbar-width: none; // Firefox
            -ms-overflow-style: none; // IE 10+
        }

        .breadcrumb-container::-webkit-scrollbar {
            display: none; // Chrome
        }

        .breadcrumb-label {
            font-size: 0.9rem;
        }

        .breadcrumb-icon {
            font-size: 16px;
        }
    }
}