<div class="product-list-wrapper">
  <div class="product-scroll-container">
    <mat-card class="product-card">
      <div class="test">
        salam
      </div>
      
      <img mat-card-image [src]="product.image" [alt]="product.title" />
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
      <mat-card-content>
        <p>{{ product.description }}</p>
        <p class="price">Price: {{ product.price | currency }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Buy Now</button>
        <button mat-button>Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>











<!-- <div class="product-list-container">
  <div class="product-scroll">
    @for (item of products; track $index) {
    <app-product-card [product]="item" />
    }
  </div>
</div>
<div class="test">
  salam
</div> -->