.product-list-container {
  overflow-x: auto;
  padding: 1rem;

  .product-scroll {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .product-list-container .product-scroll {
    flex-wrap: wrap;
    justify-content: center;
  }
}
