<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="6.25rem">
    <mat-grid-tile [colspan]="!isvalid?4:4" [rowspan]="!isvalid?2:2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          Overview
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="dashboard-cards">
            <div class="card">
              <h3>کاربران جدید</h3>
              <p>1,250</p>
            </div>
            <div class="card">
              <h3>فروش امروز</h3>
              <p>12,500,000</p>
            </div>
            <div class="card">
              <h3>سفارشات جدید</h3>
              <p>85</p>
            </div>
            <div class="card">
              <h3>بازدیدکنندگان</h3>
              <p>9,870</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="!isvalid?3:1" [rowspan]="!isvalid?10:10">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <div>
            <router-outlet></router-outlet>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="!isvalid?1:1" [rowspan]="!isvalid?10:10" id="sp">
      <mat-card class="dashboard-card admin-card">
        <mat-card-header>
          <h3>Admin Dashboard</h3>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="sidebar">
            <ul>
              <li><a class="active"><i class="fas fa-home"></i>نمای کلی</a></li>
              <li><a routerLink="members"><i class="fas fa-users"></i>مدیریت کاربران</a></li>
              <li><a routerLink="products"><i class="fas fa-box"></i>مدیریت محصولات</a></li>
              <li><a><i class="fas fa-shopping-cart"></i>مدیریت سفارشات</a></li>
              <li><a><i class="fas fa-chart-line"></i>آمار و گزارشات</a></li>
              <li><a><i class="fas fa-cogs"></i>تنظیمات</a></li>
              <li><a><i class="fas fa-sign-out-alt"></i>خروج</a></li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>