<mat-card class="top-card" appearance="outlined">
  <mat-card-header>
    <div class="landimg">
      <img class="limg" src="/landing.webp">
    </div>
    <mat-card-title-group>
      <mat-card-title>Millions of models for CNC </mat-card-title>
      <mat-card-subtitle>and 3D Printer
        <br>
        The most comprehensive site
        <br>
        for all CNC models
        <div class="badge">
          Real trust, not fake numbers
          <button (click)="plus()" (click)="openSnackBar()" [disabled]="disable" [class.disable]="disable">
            <mat-icon [matBadge]="counter"> done_outline</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
    </mat-card-title-group>
    <app-slider></app-slider>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<div class="cnc-intro">
  <h2>Precise, robust and custom CNC molds</h2>
  <p>
    Selling a variety of high-quality CNC molds, engineered designs, and suitable for various industries. Using
    <br>
    high-quality materials and modern technology, we provide you with durable and precise molds.
    <br>
  </p>
  <a class="btn-blue" id="sp">
    Models
  </a>
</div>
<div class="line">
  <hr>
</div>

<div class="middle-models" [class.scrollable]="(isHandset$ | async)">

  <mat-card class="middle-card" appearance="outlined">
    <img mat-card-image src="/img/s3.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Cheek Product</button>
    </mat-card-actions>
  </mat-card>



  <mat-card class="middle-card" appearance="outlined">
    <img mat-card-image src="/img/cncrouter/107.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Cheek Product</button>
    </mat-card-actions>
  </mat-card>



  <mat-card class="middle-card" appearance="outlined">
    <img mat-card-image src="/img/s2.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Cheek Product</button>
    </mat-card-actions>
  </mat-card>
</div>




<app-testt></app-testt>