@use '@angular/material' as mat;

.top-card {
    border: 0;


    mat-card-title-group {
        margin-top: 3%;
    }

    mat-card-title {
        font-size: xx-large;
        color: rgb(220, 164, 52);
    }

    mat-card-subtitle {
        font-size: x-large;
        color: gray;
        font-weight: 400;
        margin-top: 0.5em;
    }

    .landimg {
        .limg {
            width: 100%;
        }

        margin: 0 3rem 0 0;
        width: 45vw;
    }
}

.badge {
    margin-top: 10rem;
    color: black;
    @include mat.icon-overrides((color: green,
        ));

    mat-icon {
        font-size: 32px;
        width: 100%;
        cursor: pointer;
    }

    button {
        border: 0;
        background-color: rgba(47, 32, 13, 0);
        padding: 0;
    }

    .disable {
        @include mat.icon-overrides((color: rgba(0, 128, 0, 0.523),
            ));
    }
}


.cnc-intro {
    background-color: #f5faff;
    border: 1px solid #cce5ff;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 12px;
    text-align: center;
    color: #003366;

    h2 {
        color: #0077cc;
        margin-bottom: 0.5rem;
    }

    p {
        margin: 1.5rem;
        line-height: 1.7;
    }

    .btn-blue {
        background-color: #0077cc;
        color: white;
        padding: 0.6rem 1.2rem;
        border: none;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 500;
        cursor: pointer;
        margin: 10rem 0 0 0;

        &:hover {
            background-color: #005fa3;
        }
    }
}

.example-pizza-party {
    color: green;
    @include mat.snack-bar-overrides((button-color: orange,
            container-color: red,
            supporting-text-color:red));

    mat-snack-bar-container {
        background-color: #ffffff;
    }

    .mdc-snackbar__surface {
        background-color: #ffffff;

    }

}

::ng-deep .mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    background-color: white !important;
    color: black !important;
}

.line {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
    background-size: cover;
}



.middle-models {
    display: flex;
    justify-content: center;
    gap: 4rem;


    button {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        color: #333;
        text-decoration: none;
        font-weight: 500;
        border-radius: 8px;
        transition: background-color 0.2s ease, color 0.2s ease;
        background-color: rgb(255, 255, 255);
        border: 0;
        svg {
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: #f0f0f0;
            color: #0077cc;
        }
    }



}